/* ## Common */
/* ### header */
.htstr .header,
.htstr .header.white-header {
  background-color: #272727;
  transition-duration: 0ms;
}

.htstr .nav-logo .brand-logo {
  filter: brightness(70);
}

.htstr .user-profile .signIn {
  color: #fff;
}

/* ### navigation */
.htstr .navigations ul li .nav-link {
  color: #fff;
}

.htstr .navigations ul li .dropdown-container.active .nav-link {
  color: #fff;
}

.htstr .navigations ul li .active-link,
.htstr .navigations ul li .active-link:hover,
.htstr .navigations ul li .dropdown-container.active .nav-link:hover {
  color: #fff;
}

.htstr .navigations ul li .new {
  filter: brightness(5);
}

/* ### menu */
.htstr .submenu-container {
  background-color: #333;
}

.htstr .submenu-container .link-container a {
  color: #a1a1a1;
}

.htstr .submenu-container .link-container:hover {
  background-color: #252525;
}

.htstr .dropdown-container .sublink-container {
  background-color: #333;
}

.htstr .dropdown-container .sublink-container .dropdown-link {
  color: #a1a1a1;
}

.htstr .dropdown-container .sublink-container .dropdown-link:hover {
  background-color: #252525;
}

/* ### subheader (sports) */
.htstr .sub-header {
  color: #fff;
  background-color: #272727;
}

.htstr .sub-header .tab-link {
  color: rgba(255, 255, 255, .7);
}

.htstr .sub-header .tab.active .tab-link {
  color: #fff;
}

/* ### search */
.htstr .search-container input {
  color: #fff;
  background-color: #191919;
  padding-right: 5px;
  padding-left: 5px;
}

.htstr .search-container .result-holder {
  background: #333;
}

.htstr .search-container .result-holder article {
  background: #252525;
  border-color: #242424;
}

.htstr .search-container .result-holder article .search-wrap {
  color: #eee;
}

.htstr .search-container .result-holder article .search-wrap .meta-wrapper .subtitle {
  color: #999;
}

.htstr .search-container .result-holder .more-result {
  color: #aaa;
  background-color: #262626;
}

/* ### footer */
.htstr .footer {
  background: #272727;
}

.htstr .footer .container .footer-right p {
  color: #919191;
}

/* ---------- */

/* ## Landing and Listing page */
/* ### main container */
.htstr .master-container,
.htstr .master-container-inner {
  background-color: #191919;
  background-image: none;
}

.htstr .tray-area .tray-wrapper .tray-carousel .tray-title .tray-link {
  color: #fff;
}

.htstr .trays-container:before {
  background-image: linear-gradient(to right,rgba(238, 238, 238, 0), #191919 30px);
}

.htstr .trays-container:after {
  background-image: linear-gradient(to left,rgba(238, 238, 238,0), #191919 30px);
}

.htstr .tray-area .right-arrow:before {
  color: #fff;
}

.htstr .tray-area .left-arrow:before {
  color: #fff;
}

/* ### no result */
.htstr .tray-wrapper .tray-carousel .container .no-result-container .title {
  color: #eee;
}

.htstr .tray-wrapper .tray-carousel .container .no-result-container .info {
  color: #aaa;
}

/* ### main container loader */
.htstr .masthead-loader .loader-left,
.htstr .masthead-loader .loader-middle,
.htstr .masthead-loader .loader-right {
  background-color: #333;
}

.htstr .tray-loader .card {
  background-color: #333;
}

/* ### article cards */
.htstr article {
  background: #333;
}

/* ---------- */

/* ## Watch page */
.htstr .master-container .watch-area .detail-area .container h1 {
  color: #fff;
}

.htstr .master-container .watch-area .detail-area .container .meta-wrap .episode-divider,
.htstr .master-container .watch-area .detail-area .container .meta-wrap .meta-deta {
  color: #aaa;
}

.htstr .meta-wrap .description {
  color: #aaa;
}

.htstr .meta-wrap .click-icon .click-icon-wrapper .icon-title {
  color: #aaa;
}

.htstr .master-container .watch-area .detail-area {
  border-color: #444;
}

/* ---------- */

/* ## Category page */
.htstr .tray-wrapper .tray-carousel .container h2 {
  color: #fff;
}

/* ---------- */

/* ## Watchlist */
.htstr .my-watchlist-zero-state .zero-state-header {
  color: #aaa;
}

/* ---------- */

/* ## My Account */
.htstr .my-account-page .profile .user-details .user-name {
  color: #eee;
}

.htstr .my-account-page .profile .user-details .user-name-subtitle {
  color: #aaa;
}

.htstr .my-account-page .account-card-container {
  background-color: #222;
}

.htstr .active-subscriptions .membership-title {
  color: #ddd;
}

.htstr .active-subscriptions .membership-desc {
  color: #aaa;
}

.htstr .my-account-page .account-card-item + .account-card-item {
  border-top-color: #444;
}

.htstr .active-subscriptions .membership-cancel-tile,
.htstr .billing-info .billing-transactions-header,
.htstr .security-info .sign-out-link {
  color: #ddd;
  background-color: transparent;
}

.htstr .my-account-page .chevron::before {
  color: #aaa;
}

/* ---------- */

/* ## Cancel membership */
.htstr .cancel-page .content-wrapper .container h1 {
  color: #eee;
}

.htstr .cancel-page .content-wrapper .container p {
  color: #919191;
}

/* ---------- */

/* ## Sports details page */
.htstr .si-scorepage-title {
  color: #eee;
}

.htstr .si-team-section .si-team-name {
  color: #eee;
}

.htstr .si-team-section .si-team-score {
  color: #eee;
}

.htstr .si-team-section .si-team {
  border-right-color: #444;
}

.htstr .si-team-section .si-match-result {
  color: #bbb;
}

.htstr .si-topbatsmen-fullTeam {
  color: #919191;
}

.htstr .si-live-score .si-table-td {
  color: #bbb;
}

/* ### full scoreboard table */
.htstr .si-full-scoreboard.active:before,
.htstr .si-full-scoreboard:before {
  background-color: #444;
}

.htstr .si-teams-innings {
  border-bottom-color: #555;
}

.htstr .si-tab-container .si-tab li {
  color: #919191;
}

.htstr .si-tab-container .si-tab li.active,
.htstr .si-tab-container .si-tab li:hover {
  color: #eee;
}

.htstr .si-playersquad .si-table-tr .si-table-th,
.htstr .si-scorecard .si-table-tr .si-table-th {
  border-bottom-color: #333;
}

.htstr .si-playersquad .si-table-td,
.htstr .si-scorecard .si-table-td {
  border-bottom-color: #333;
}

.htstr .si-scorecard .si-table-td span.si-player-name {
  color: #bbb;
}

.htstr .si-scorecard .innings-batsmen .tbl-runs,
.htstr .si-scorecard .innings-bowler .tbl-wicket {
  color: #bbb;
}

.htstr .si-scorecard .si-extra-info {
  border-bottom-color: #555;
}

.htstr .si-scorecard .si-extra-info span.si-score {
  color: #bbb;
}

/* ---------- */

/* ## Sports live score page */
.htstr .match-list .list-holder .match-date {
  color: #eee;
}

.htstr .base {
  background-color: #222;
}

.htstr .base .match-name {
  color: #ccc;
}

.htstr .base .team-info {
  color: #ccc;
}

.htstr .base .team-footer {
  color: #919191;
}

.htstr .base .team-info .team-name.current,
.htstr .base .team-info .team-score.current {
  color: #ccc;
}

.htstr .base .team-footer.current {
  color: #919191;
}

/* ---------- */

/* ## Sports tournaments */
.htstr .tournament-card .title {
  color: #eee;
}

.htstr .tournament-card .meta-desc .subtitle {
  color: #919191;
}

/* ---------- */
